@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-dark">
    <h1>Welcome to Kieland D&D Character creator</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Edit your character</h2>
        <p>
            You can change all information about your character, including your class race, height weight, attributes and modifiers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Search for weapons</h2>
        <p>
            You can search for almost any weapons that you would like your character to have.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Roll some dice</h2>
        <p>
            Choose which dice you like to roll!
        </p>
    </div>
</div>